lib_Op129/RemoteFiles/ConsultaOperacionesPorProcesoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="ConsultaOperacionesPorProcesoRequest">
		<xsd:sequence>


			<xsd:element minOccurs="0" name="idProceso" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoOperacion" type="xsd:string">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>