lib_Op129/RemoteFiles/ConsultaMotivosRechazoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="ConsultaMotivosRechazoRequest">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="idTransaccion" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="historico" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>