lib_Op129/RemoteFiles/ConsultarParametrosResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus" xmlns:bons1="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:include schemaLocation="procesoOut.xsd"/>
	<xsd:complexType name="ConsultarParametrosResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fechaHistorico" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="idUsuario" type="xsd:long">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="procesos" nillable="true" type="bons1:procesoOut">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>