lib_Op129/RemoteFiles/Entry.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="Entry">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="key" type="xsd:string"/>
			<xsd:element minOccurs="0" name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>