lib_Op129/RemoteFiles/MotivoRechazo.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="MotivoRechazo">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="claveRechazoBus" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="claveRechazoProcesar" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="descripcionRechazo" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>