lib_Op129/RemoteFiles/Operacion.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="Operacion">
		<xsd:sequence>




			<xsd:element minOccurs="0" name="claveOperacion" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="descripcion" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="idElemento" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoOperacion" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>