lib_Op129/RemoteFiles/ReenvioPeticionesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BusTramiteServiceControlExport/ControlBus">
	<xsd:complexType name="ReenvioPeticionesRequest">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="idTransaccion" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoOperacion" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="idUsuario" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="historico" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>